<div class="banner">
  <div class="container">
    <h1>Watch movies</h1>
      <br>
    <p>Watch in style</p>
    <%= link_to 'Add Watch List', new_list_path, class: "btn btn-light" %>
  </div>
</div>
<div class="flex-container">

<% @lists.each do |list| %>
  <% render "card", list: list  %>

  <% end %>
  </div>
</div>
</body>

</html>
