<h1>Movie Watch List</h1>
<%= link_to 'New Watch List', new_list_path, class: 'btn btn-success mt-3' %>
<% @lists.each do |list| %>
<% if list.photo.attached? %>
<%= cl_image_tag(  list.photo.key , width: 150, height: 150, crop: :thumb, gravity: :face) %>
<% else %>
<%= cl_image_tag( "sample" , width: 150, height: 150, crop: :thumb, gravity: :face) %>
<% end %>
<% end %>
